
<section class="filter">
  <div class="book-grid-container">
    <div class="book-collections">

      <!-- Alert -->
      <div
        *ngIf="message"
        class="alert"
        [class.alert-danger]="level === 'error'"
        [class.alert-success]="level === 'success'"
        role="alert"
      >
        <p>{{ message }}</p>
      </div>

      <h4>Books</h4>

      <!-- Category Filter Buttons -->
      <div class="category">
        <div class="category-list">
          <button>Today</button>
          <button>This Week</button>
          <button>This Month</button>
        </div>
      </div>

      <!-- Book Cards -->
      <div class="books" style=" max-width: 900px;
      margin-left: auto;
      margin-right: auto;">
       


        <app-book-card
        *ngFor="let book of bookResponse.content"
        [book]="book"
        (borrow)="borrowBook($event)"
        (details)="displayBookDetails($event)"
      ></app-book-card>

      </div>

      <!-- Footer -->
      <div class="footer">
        <div class="data-shown">
          <p>
            Showing {{ bookResponse.content?.length }} from
            {{ bookResponse.totalElements }} data
          </p>
        </div>

        <div class="pagination">
          <button (click)="goToFirstPage()" [disabled]="page === 0">
            <i class="fa-solid fa-angles-left"></i>
          </button>
          <button (click)="goToPreviousPage()" [disabled]="page === 0">
            <i class="fa fa-chevron-left"></i> Previous
          </button>

          <div class="number">
            
            <a *ngFor="let pageIndex of pages"
              href="javascript:void(0)"
              (click)="gotToPage(pageIndex)"
              [class.active]="page === pageIndex"
            >{{ pageIndex + 1 }}</a>
          </div>

          <button (click)="goToNextPage()" [disabled]="isLastPage">
            Next <i class="fa fa-chevron-right"></i>
          </button>
          <button (click)="goToLastPage()" [disabled]="isLastPage">
            <i class="fa-solid fa-angles-right"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</section>